<!DOCTYPE html>
<html>
<head>
  <title>Movy</title>
</head>

<body>
    <header>
        <div class="contenedor-navegacion">
             <div class="contenido-navegacion  contenedor">
                  <div class="logo">
                      <h2>Movy Pedidos</h2>
                  </div>
                  <nav class="navegacion ocultar">
                    <a href="#">Inicio</a>
                    <a href="#">Menu</a>
                    <a href="#">Sobre nosotros</a>
                  </nav> 
                  <div class="ca">
                     <span></span> <span></span><span></span>
                  </div>  
             </div>
        </div>
    </header>
</body>
</html>